<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="CTPOS_F.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="CTPOS_F.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="CTPOS_F.My.MySettings.ctPOS_bConnectionString" connectionString="Data Source=KINGTUBBY\SQLEXPRESS;Initial Catalog=CTPOS_B;Persist Security Info=True;User ID=ctposu;Password=ctposp"
            providerName="System.Data.SqlClient" />
        <add name="CTPOS_F.My.MySettings.ctmain_bConnectionString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=&quot;D:\My Documents\Visual Studio 2005\Projects\CTPOS_F\ctmain_b.mdb&quot;"
            providerName="System.Data.OleDb" />
        <add name="CTPOS_F.My.MySettings.ctpos_bConnectionString1" connectionString="Data Source=TONY\SQLEXPRESS;Initial Catalog=ctpos_b;Persist Security Info=True;User ID=sa;Password=Varsity1"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information"/>
        </switches>
        <sharedListeners>
            <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Xceed.UI" publicKeyToken="BA83FF368B7563C6" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-1.0.6061.0" newVersion="1.0.6061.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Xceed.DockingWindows" publicKeyToken="BA83FF368B7563C6" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-1.1.7113.3050" newVersion="1.1.7113.3050"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
 <userSettings>
  <CTPOS_F.My.MySettings>
   <setting name="lngStoreID" serializeAs="String">
    <value>1</value>
   </setting>
   <setting name="lngWSID" serializeAs="String">
    <value>1</value>
   </setting>
   <setting name="dblTaxRate" serializeAs="String">
    <value>0.06</value>
   </setting>
   <setting name="MainPath" serializeAs="String">
    <value />
   </setting>
   <setting name="POSPath" serializeAs="String">
    <value />
   </setting>
   <setting name="SQLServer" serializeAs="String">
    <value />
   </setting>
   <setting name="SQLDatabase" serializeAs="String">
    <value />
   </setting>
   <setting name="SQLUserName" serializeAs="String">
    <value>ctuser</value>
   </setting>
   <setting name="SQLPassword" serializeAs="String">
    <value />
   </setting>
   <setting name="strDrawerPort" serializeAs="String">
    <value />
   </setting>
   <setting name="RcptPrinter" serializeAs="String">
    <value>MS</value>
   </setting>
   <setting name="RcptFooter1" serializeAs="String">
    <value>Thank you for visiting our store!</value>
   </setting>
   <setting name="RcptFooter2" serializeAs="String">
    <value>Come Again!</value>
   </setting>
   <setting name="RcptHeader" serializeAs="String">
    <value>Camp Wildwind Pines</value>
   </setting>
   <setting name="FirstSetup" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="lngLiveCharge" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="strXChargePath" serializeAs="String">
    <value />
   </setting>
   <setting name="strCashLinqUName" serializeAs="String">
    <value>LatitudeS</value>
   </setting>
   <setting name="strCashLinqPW" serializeAs="String">
    <value>5ITGJDnR</value>
   </setting>
   <setting name="blnCamperSort" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="blnUseBell" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="blnUsePrinter" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="intLinesBefore" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="intLinesAfter" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="blnOneCCReceipt" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="strCraftID" serializeAs="String">
    <value>1375</value>
   </setting>
   <setting name="blnUpdateSettings" serializeAs="String">
    <value>True</value>
   </setting>
  </CTPOS_F.My.MySettings>
 </userSettings>
 <applicationSettings>
  <CTPOS_F.My.MySettings>
   <setting name="CampTrakStore_net_donatelinq_SmartPayments" serializeAs="String">
    <value>https://donatelinq.net/smartpayments/transact.asmx</value>
   </setting>
  </CTPOS_F.My.MySettings>
 </applicationSettings>
</configuration>
